{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block title_2 %}Connexion{% endblock title_2 %}
{% block taille %}w-50{% endblock taille %}
{% block body %}

    <div class=" d-flex justify-content-center">
        <div class="w-50 my-2">
            <form method="post">
                <label for="inputEmail">Email ou Pseudo</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> se souvenir de moi
                        </label>
                    </div>
                <button class="btn btn-primary" type="submit">
                    Se connecter
                </button>
            </form>
        </div>
    </div>

{% endblock %}
