{% extends 'base.html.twig' %}

{% block title_2 %}Inscription{% endblock title_2 %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_widget(registrationForm)}}

        <button type="submit" class="btn btn-lg btn-primary">Inscription</button>
    {{ form_end(registrationForm) }}
{% endblock %}
