{% extends 'base.html.twig' %}
{% block title_2 %}Mon profil{% endblock title_2 %}
{% block title %}Mon profil{% endblock title %}
{% block taille %}w-50{% endblock taille %}
{% block taille2 %}w-50{% endblock taille2 %}

{% block body %}

    {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary my-3 mx-5">Enregistrer</button>
        <button class="btn btn-primary my-3 mx-5"><a class="customize" href="{{ path('default_accueil') }}">Retour</a></button>
    </div>
    {{ form_end(userForm) }}

{% endblock %}
