{% extends 'base.html.twig' %}
    {% block title %}Créer une sortie{% endblock %}
    {% block body %}
        <div class="card border-primary mb-3">
            <div class="card-header">Créer une sortie</div>
            <div class="card-body">
                {{ form_start(sortieForm) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(sortieForm.nom) }}
                    </div>
                    <div class="col">

                    </div>
                </div>
                {{ form_end(sortieForm) }}
            </div>
        </div>

    {% endblock %}